* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #548687;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #fff;
    border: none;
}

#new-btn {
    border-radius: 7px;
    padding: 14px;
    font-size: 1rem;
    background-color: #191913;
    color: #fff;
    border: none;
}

#reset-btn {
    border-radius: 7px;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #191913;
    color: #fff;
    border: none;
}
#msg{
    font-size: 40px;
    color:white;
    margin:25px 0px;
}

.msg-contianer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:80vh;
    margin-bottom: 10px;
}

.hide{
    display: none;
}